.row
  .three.columns
    h3 Installed
  .five.columns
    h3 Briqs
  .four.columns
    h3
      input(type='text',ng-model='query',ng-click='showAll()'
            placeholder='Search...')

.row
  .three.columns
    ul.square
      li(ng-repeat='bob in bobs | filter:query | orderBy:"key"'
         ng-click='selectBob(bob)')
        {{bob.key}}

  .nine.columns
    div(ng-hide='briq')
      ul.square
        li(ng-repeat='briq in briqs | filter:query | orderBy:"info.name"'
           ng-click='selectBriq(briq)')
          b {{briq.info.name}}
          |  - {{briq.info.description}}
    div(ng-show='briq')
      .panel
        h4 {{briq.info.name}}
        h4.subheader {{briq.info.description}}
        .row(ng-repeat='input in briq.info.inputs')
          .three.columns
            label.right.inline {{input.name}}:
          .nine.columns(ng-switch='input.type')
            textarea.eight(ng-switch-when='text'
                           ng-model='input.value'
                           ng-disabled='bob'
                           rows=10)
            input.four(ng-switch-default
                       type='text'
                       ng-model='input.value'
                       ng-disabled='bob'
                       placeholder='{{input.default}}')
        .row
          .nine.columns
            input.button(type='submit'
                         value='Install'
                         ng-click='createBob()'
                         ng-disabled='bob')
          .three.columns
            input.button.right(type='submit'
                               value='Remove'
                               ng-click='removeBob()'
                               ng-show='bob')
      .row(ng-show='feeds || results')
        .two.columns
        .three.columns
          h5 Connections:
        .three.columns(ng-show='feeds')
          h5 Feeds
          div(ng-repeat='(k,v) in feeds')
            b {{k}}
            i  - {{v}}
        .three.columns.end(ng-show='results')
          h5 Results
          div(ng-repeat='(k,v) in results')
            b {{k}}
            i  - {{v}}
        .one.columns

.row
  .twelve.columns
    hr
    p.left Server platform: 
      i {{process.platform}}
      |  - it is now 
      b {{tick|date:'HH:mm:ss'}}
    p.right
      a(href='{{pkg.homepage}}') {{local.exactName}}
      |  {{pkg.version}}
