.row

  .three.columns
    h3 Installed
    ul.square
      li(ng-repeat='(k,v) in installed'
         ng-click='selectInstalled(k)')
        {{k}}
    h3 Briqlets
    ul.square
      li(ng-repeat='id in briqlets'
         ng-click='selectBriqlet(id)')
        {{id.info.name}}
             
  .nine.columns(ng-show='id')
    .panel
      h4 {{id.info.name}}
      h4.subheader {{id.info.description}}
      .row(ng-repeat='input in id.info.inputs')
        .three.columns
          label.right.inline {{input.name}}:
        .nine.columns(ng-switch on='input.type')
          input.four(ng-switch-when='line'
                     type='text'
                     ng-model='input.value'
                     ng-disabled='idConf'
                     placeholder='{{input.default}}')
          select.five(ng-switch-when='briq'
                      ng-model='input.value'
                      ng-disabled='idConf'
                      ng-options='k for (k,v) in installed')
          textarea.eight(ng-switch-when='text'
                         ng-model='input.value'
                         ng-disabled='idConf'
                         rows=10)
      .row
        .nine.columns
          input.button(type='submit'
                       value='Install'
                       ng-click='installBriqlet()'
                       ng-disabled='idConf')
        .three.columns
          input.button(type='submit'
                       value='Remove'
                       ng-click='removeInstalled()'
                       ng-show='idConf')

.row
  .twelve.columns
    hr
    p.left Server platform: 
      i {{process.platform}}
      |  - it is now 
      b {{tick|date:'HH:mm:ss'}}
    p.right
      a(href='{{pkg.homepage}}') {{local.exactName}}
      |  {{pkg.version}}
