.row

  .three.columns
    h3 Installed
    ul.square
      li(ng-repeat='bob in bobs | orderBy:"key"',ng-click='selectBob(bob)')
        {{bob.key}}
    h3 Briqs
    ul.square
      li(ng-repeat='briq in briqs | orderBy:"info.name"'
         ng-click='selectBriq(briq)')
        {{briq.info.name}}
             
  .nine.columns(ng-show='briq')
    .panel
      h4 {{briq.info.name}}
      h4.subheader {{briq.info.description}}
      .row(ng-repeat='input in briq.info.inputs')
        .three.columns
          label.right.inline {{input.name}}:
        .nine.columns(ng-switch='input.type')
          textarea.eight(ng-switch-when='text'
                         ng-model='input.value'
                         ng-disabled='bob'
                         rows=10)
          input.four(ng-switch-default
                     type='text'
                     ng-model='input.value'
                     ng-disabled='bob'
                     placeholder='{{input.default}}')
      .row
        .nine.columns
          input.button(type='submit'
                       value='Install'
                       ng-click='createBob()'
                       ng-disabled='bob')
        .three.columns
          input.button.right(type='submit'
                             value='Remove'
                             ng-click='removeBob()'
                             ng-show='bob')

.row
  .twelve.columns
    hr
    p.left Server platform: 
      i {{process.platform}}
      |  - it is now 
      b {{tick|date:'HH:mm:ss'}}
    p.right
      a(href='{{pkg.homepage}}') {{local.exactName}}
      |  {{pkg.version}}
