.row

  .three.columns
    h3 Installed
    ul.square
      li(ng-repeat='obj in actives',ng-click='selectActive(obj)')
        {{obj.key}}
    h3 Briqlets
    ul.square
      li(ng-repeat='obj in briqlets',ng-click='selectBriqlet(obj)')
        {{obj.info.name}}
             
  .nine.columns(ng-show='briqlet')
    .panel
      h4 {{briqlet.info.name}}
      h4.subheader {{briqlet.info.description}}
      .row(ng-repeat='input in briqlet.info.inputs')
        .three.columns
          label.right.inline {{input.name}}:
        .nine.columns(ng-switch='input.type')
          textarea.eight(ng-switch-when='text'
                         ng-model='input.value'
                         ng-disabled='active'
                         rows=10)
          input.four(ng-switch-default
                     type='text'
                     ng-model='input.value'
                     ng-disabled='active'
                     placeholder='{{input.default}}')
      .row
        .nine.columns
          input.button(type='submit'
                       value='Install'
                       ng-click='createActive()'
                       ng-disabled='active')
        .three.columns
          input.button.right(type='submit'
                             value='Remove'
                             ng-click='removeActive()'
                             ng-show='active')

.row
  .twelve.columns
    hr
    p.left Server platform: 
      i {{process.platform}}
      |  - it is now 
      b {{tick|date:'HH:mm:ss'}}
    p.right
      a(href='{{pkg.homepage}}') {{local.exactName}}
      |  {{pkg.version}}
