.row
  .three.columns
    h4 Briqlets
    ul.square
      li(ng-repeat='id in briqlets'
         ng-click='selectBriq(id)')
        {{id.info.name}}
    h4 Installed
    ul.square
      li(ng-repeat='(k,v) in installed'
         ng-click='uninstallBriq(k)')
        {{k}}
             
  .nine.columns(ng-show='id')
    .panel
      h4 {{id.info.name}}
      h4.subheader {{id.info.description}}
      .row(ng-repeat='input in id.info.inputs')
        .three.columns
          label.right.inline {{input.name}}:
        .nine.columns(ng-switch on='input.type')
          input.four(ng-switch-when='line'
                     type='text'
                     ng-model='input.value'
                     placeholder='{{input.default}}')
          select.five(ng-switch-when='briq'
                      ng-model='input.value'
                      ng-options='k for (k,v) in installed')
          textarea.eight(ng-switch-when='text'
                         ng-model='input.value'
                         rows=10)
      .row.twelve.columns
        input.button(type='submit'
                     value='Install'
                     ng-click='installBriq()')

.row
  .twelve.columns
    hr
    p.left Server platform: 
      i {{process.platform}}
      |  - it is now 
      b {{tick|date:'HH:mm:ss'}}
    p.right
      a(href='{{pkg.homepage}}') {{local.exactName}}
      |  {{pkg.version}}
